.worlds-view {
    display: grid;
    place-items: center;
    height: 100vh;
}

.world {
    display: inline-block;
    background-color: transparent;
    border: none;
    margin: 14pt;
    padding: 14pt;
    transition: transform 300ms ease;
}
.world:hover, .world:active  {
    transform: scale(1.1);
}

.name {
    font-size: 48pt;
    padding: 4px; /* use for the stroke */
    color: black;
    font-weight: bold;
    font-family: 'Bangers';
    -webkit-text-fill-color: lightgoldenrodyellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.transition .name {
    animation: bounceUp 2s ease forwards;
}

.circle {
    position: relative;
}
.circle img {
    max-width: 250px;
}
.circle .elem1 {
    position: absolute;
    left: 75px;
    top: 50px;
    animation: rotate 20s linear infinite;
}
.circle .elem2 {
    position: absolute;
    right: 50px;
    bottom: 50px;
    animation: crotate 10s linear infinite;
}
.transition .circle {
    animation: fall 2s ease forwards;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes crotate {
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes bounceUp {
    25% {
        transform: translateY(100px) scale(0.7);
    }
    100% {
        transform: translateY(-1000px) scale(2.0);
    }
}
@keyframes fall {
    25% {
        transform: translateY(0) scale(0.7);
    }
    100% {
        transform: translateY(1000px) scale(2.0);
    }
}